*~*
*.orig
*.class
*closure
classpath
.settings
*stacktrace
*stacktrace.log*
.classpath
.project
.DS_Store
web-app/WEB-INF/classes
dtd/
usr/
*/reports
*/target
*/target/stacktrace.log
*/target/
*/target/classes
*/target/classes/
*/web-app/WEB-INF/classes/
config.yaml
mocks/config.yaml
id_rsa
config*.yaml
*prodDb.log*
*prodDb.properties*
*stacktrace.log*
chromedriver.log
webserver/target-eclipse/
webserver/.idea/
tests/target-eclipse/
dump.rdb
gradle/test/drivers
gradle/build
gradle/.gradle/
gradle/bin/
*.iml
.idea/
mockserver/node_modules
*.patch

*.BACKUP.*
*.BASE.*
*.REMOTE.*
*.LOCAL.*
mockserver/node_modules/
webserver/export.log
node_modules/
bower_components/
